/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 20px; line-height: 1.231; background-color: #f0f0f0; font-family: sans-serif; color: #222; }

footer { margin: 1em; font-size: 0.75em; text-align: center; }

header { text-align: center; }

#content { margin-top: 0.9em; }

#main { padding: 0.25em 1em; }
#main, #sidebar nav { background-color: #fefefe; border: 1px solid #999; border-radius: 0.25em; margin: 1em 0; }

/* Fluid container styles based on Twitter bootstrap */
.container {
  position: relative;
  padding-left: 1.25em;
  padding-right: 1.25em;
  zoom: 1;
}
.container:before, .container:after {
  display: table;
  content: "";
  zoom: 1;
}
.container:after {
  clear: both;
}
.container > #sidebar {
  position: fixed;
  top: 0;
  left: 1.25em;
  width: 11em;
}
.container > #content {
  margin-left: 12.5em;
}

section { padding-top: 10px; margin-top: -10px; }

h1.title { font-size: 2.25em; }

/* =============================================================================
   Sidebar customizations
   ========================================================================== */

#sidebar .logo { float: left; display: block; height: 4.5em; padding: 0.5em 0; text-align: center; width: 100%; }
#sidebar .logo img { max-height: 4.5em; }
#sidebar nav { clear: both; }
#sidebar nav > * { font-size: 0.8em; }
#sidebar h4 { margin-bottom: 0; margin-left: 0.5em; }
#sidebar a { text-decoration: none; display: block; color: #000; padding-left: 0.5em; }
#sidebar h4 a { color: #000; }
#sidebar ol { margin: 0.5em; }
#sidebar li > ol { margin-top: 0; }
#sidebar li { list-style: none; margin: 1em 0; }
#sidebar li li { margin: 0.25em 0; }
#sidebar li > a { color: #666; }
#sidebar li.active { background-color: #eee; }
#sidebar li.active > a { color: #000;  }
@media only screen and (max-width: 850px) {
  body {
    font-size: 16px;
  }
  .container { padding-left: 0.75em; padding-right: 0.75em; }
}
@media only screen and (max-width: 650px) {
  #sidebar { display: none; }
  .container { padding-left: 0.5em; padding-right: 0.5em; }
  .container > #content { margin-left: 0; }
  h1.title { font-size: 2em; }
}
@media only screen and (max-width: 500px) {
  body {
    font-size: 14.5px;
  }
}
@media only screen and (max-width: 350px) {
  body {
    font-size: 13px;
  }
}

#sidebar .github-button { background-color: #fefefe; border: 2px outset #999; border-radius: 0.5em; margin: 0.0em; padding: 0.1em 0; }
#sidebar .github-button:hover { background-color: #ffffff; border-color: #777; } /* TODO: Make mouse image change on hover */
#sidebar .github-button:active { background-color: #fdfdfd; border-style: inset; }
#sidebar .github-button img { float: left; max-width: 2.3em; margin-left: 0.75em; }
#sidebar .github-button h4 { float: left; text-align: center; max-width: 6.5em; margin: 0.4em 0.6em; text-decoration: none; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #2953a6; color: #fff; text-shadow: none; }
::selection { background: #2953a6; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; border-radius: 6px; border: 1px solid #bbb; background-color: #eee; padding: 0.5em; margin: 1em 1em; }

q { quotes: '\201C' '\201D'; }

h1, h2, h3, h4 { margin: 0; padding: 0; }
h1 { font-size: 2em; margin: 0.6em 0; }
h2 { font-size: 1.5em; margin: 0.8em 0; }
h3 { font-size: 1.17em; margin: 1em 0; }
h4 { font-size: 1em; margin: 1.3em 0; }

@media only screen and (max-width: 450px) {
  h1 { font-size: 1.750em; margin: 0.525em 0; }
  h2 { font-size: 1.313em; margin: 0.7em 0; }
  h3 { font-size: 1.024em; margin: 0.875em 0; }
  h4 { font-size: 0.875em; margin: 1.138em 0; }
}

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

nav ol li { padding: 0.25em; }
nav ol { margin-top: 0; }

ul.property-definitions { list-style: none; lyst-style-image: none; margin: 0; padding: 0; }
ul.property-definitions li { margin: 1em 0 1em 1em; }
.property-definitions dfn { font-style: normal; font-weight: bold; }
.property-definitions q { font-family: monospace; }
.property-definitions q:before { content: open-quote; font-family: sans-serif; }
.property-definitions q:after { content: close-quote; font-family: sans-serif; }

/* =============================================================================
   Tables (inspired by Twitter bootstrap styles)
   ========================================================================== */

table {
  width: 100%;
  border-collapse: collapse;
}
table th, table td {
  padding: 10px 10px 9px;
  text-align: left;
}
table th {
  font-weight: bold;
  vertical-align: middle;
}
table td {
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table tbody th {
  border-top: 1px solid #ddd;
  vertical-align: top;
}

/* =============================================================================
   Pygments highlighting styles 
   Colors based on solarized <http://ethanschoonover.com/solarized>
   ========================================================================== */

.highlight pre { background-color: #fdf6e3; }
.highlight .c { color: #93a1a1; font-style: italic; } /* Comment */
.highlight .k { color: #cb4b16; font-weight: bold } /* Keyword (Section Name) */
.highlight .o { color: #586e75; font-weight: bold } /* Operator (Equals Signs) */
.highlight .s { color: #2aa198; } /* String Literal (Property Value) */
.highlight .na { color: #b58900; } /* Name Attribute (Property Name) */

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
