
root = true

[*.html]
indent_style = space
indent_size = 2

[*.css]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

[*.y{a,}ml]
indent_style = space
indent_size = 2
